{% extends 'music/base.html' %}

{% block title %}
    {{ album.album_title }}
{% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/detail_style.css' %}">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="card col-sm-3 shadow">
                    <a href="{% url 'music:detail' album.id %}">
                        <img class="card-img-top img-fluid" src="{{ album.logo.url }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ album.album_title }}</h4>
                        <p class="card-text">&ensp; - {{ album.artist }}</p>
                        <a class="fas fa-trash-alt icons"
                           href="{% url 'music:delete' album.id %}"></a>
                        <a class="fas fa-pen icons" style="color: #4bff26;"
                           href="{% url 'music:album_update' album.id %}"></a>
                    </div>
                </div>
        <div class="col-sm-8">
            {% for song in album.song_set.all %}
                <div class="song-container container-fluid border border-info rounded shadow">
                    <h2>{{ song.song_title }}</h2>
                    <audio controls>
                        <source src="{{ song.song_file.url }}" type="audio/mp3">
                    </audio>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
