{% extends 'music/base.html' %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/index_style.css' %}">
{% endblock %}

{% block body %}
    <div class="card-columns">
        {% if object_list %}
            {% for album in object_list %}
                <div class="card border-dark">
                    <a href="{% url 'music:detail' album.id %}">
                        <img class="card-img-top img-fluid" src="{{ album.logo.url }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ album.album_title }}</h4>
                        <p class="card-text">&ensp; - {{ album.artist }}</p>
                        <a class="fas fa-trash-alt icons"
                           href="{% url 'music:delete' album.id %}"></a>
                        <a class="fas fa-pen icons" style="color: #4bff26;"
                           href="{% url 'music:album_update' album.id %}"></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success">
                <strong>No Albums present. </strong><a href="{% url 'music:create' %}" class="alert-link">Insert new
                album?</a>.
            </div>
        {% endif %}
    </div>
{% endblock %}
